@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

#datetime-picker {
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    margin-left: 15px;
}

button {
    border-radius: 4px;
    width: 75px;
    height: 35px;
    background-color: #4E75FF;
    color: white;
}

button:hover {
    background: #6C8CFF;

}

button:disabled {
    background: #CFCFCF;
    color:#989898;
}

.timer {
    display: flex;
    margin-top: 10px;
}

.value {
    display: flex;
    width: 74px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    justify-content: center;
} 

.label {
    display: flex;
    justify-content: center;
    width: 74px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}